<%- include('./includes/header.ejs') %>
<%- include('./includes/navigation.ejs') %>

<main>
    <h1><%= pageTitle%></h1>
    <div>
        <h2>Dodaj użytkownika</h2>
        <form class="add" action="/users" method="post">
            <div class="control">
                <label for="firstName">Imię</label>
                <input type="text" name="firstName" id="firstName" required>
            </div>
            <div class="control">
                <label for="lastName">Nazwisko</label>
                <input type="text" name="lastName" id="lastName" required>
            </div>
            <div class="control">
                <label for="birthDate">Data urodzenia</label>
                <input type="date" name="birthDate" id="birthDate" required>
            </div>
            <div class="control">
                <label for="active">Konto aktywne</label>
                <input type="checkbox" name="active" id="active">
            </div>
            <button type="submit">Dodaj użytkownika</button>
        </form>
    </div>
    <% if(users === null) {%>
        <h2>Brak użytkowników w bazie</h2>
    <%} else {%>
        <table>
            <tr>
                <th>Imię i nazwisko</th>
                <th>Wiek</th>
                <th>Data dołączenia</th>
                <th>Aktywny</th>
            </tr>
                <% users.forEach(user => { %>
                <tr>
                    <td><%= user.firstName%> <%= user.lastName%></td>
                    <td><%= new Date().getFullYear() - new Date(user.birthDate).getFullYear()%></td>
                    <td><%= user.joinDate.toDateString()%></td>
                    <td><%= user.active ? "tak" : "nie" %></td>
                    <td>
                        <form action="/delete" method="post">
                        <input type="hidden" name="userId" value="<%= user.id %>">
                        <button type="submit">Usuń</button>
                    </form>
                    </td>
                </tr>
            <% })%>
        </table>
        <%}%>
    </main>
    
<%- include('./includes/footer.ejs') %>