<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="header">
        <h1 class="header_h1"><%= pageTitle %></h1>
    </div>
    <div class="songs">
        <% if(songs.length !== 0) {%>
            <% songs.forEach(songs=> { %>
                <div class="song_tile">
                    <img class="song_img" src="/img/solence.jpg" alt="Solence"><br>
                    <label class="song_name"><%= songs.author %> - <%= songs.title%></label><br>
                    <label class="song_info"><%= new Date(songs.releaseDate).toLocaleDateString() %>, <%= songs.authorCountry %></label>
                </div>
            <% }) %>
        <% }else {%>
            <h3>Brak piosenek w bazie!</h3>
        <% } %>
    </div>
    <form class="add_new_song" action="/" method="post">
        <p>Wykonawca: <input type="text" name="author"></p><br>
        <p>Tytuł: <input type="text" name="title"></p><br>
        <p>Data wydania: <input type="date" name="releaseDate"></p><br>
        <p>Kraj zespołu: <select name="authorCountry">
            <option value="Polska">Polska</option>
            <option value="Litwa">Litwa</option>
            <option value="Białoruś">Białoruś</option>
            <option value="Ukraina">Ukraina</option>
            <option value="Rosja">Rosja</option>
            <option value="Niemcy">Niemcy</option>
            <option value="Francja">Francja</option>
            <option value="Włochy">Włochy</option>
            <option value="Czechy">Czechy</option>
            <option value="Słowacja">Słowacja</option>
            <option value="Austria">Austria</option>
            <option value="Wielka Brytania">Wielka Brytania</option>
            <option value="Irlandia">Irlandia</option>
            <option value="Norwegia">Norwegia</option>
            <option value="Szwecja">Szwecja</option>
            <option value="Finlandia">Finlandia</option>
            <option value="USA">USA</option>
            <option value="Kanada">Kanada</option>
            <option value="Meksyk">Meksyk</option>
            <option value="Brazylia">Brazylia</option>
        </select>
        </p>
        <br><button type="submit">Dodaj</button> <button type="reset">Resetuj</button>
    </form>
</body>
</html>